.file {
  composes: link from '../../styles/components/link.css';
}

.file__image {
  composes: linkImage from '../../styles/components/link.css';
  background-image: url('./file_unselected.svg');
  size: 4.6rem 6.2rem;
}

.file__name {
  composes: linkName from '../../styles/components/link.css';
}

.file {
  &:focus,
  &:active {
    .file__image {
      background-image: url('./file_selected.svg');
    }
  }
}
