:local {

  .close {
    composes: icon from '../../styles/components/_icon.css';
    background-image: url('./close_unselected.svg');
    size: 2rem 2.2rem;

    &:--focus-active {
      background-image: url('./close_selected.svg');
    }
  }
}

@custom-selector :--focus-active :focus, :active;
