@import '../../styles/settings/';

:local {
  .guru-meditation {
    align-items: center;
    background-color: var(--black);
    display: flex;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }

  .toasty {
    background-size: 100%;
    position: absolute * 0 0 *;
    size: var(--toasty-width);
  }
}

:root {
  --toasty-width: 20rem;
}
