.link {
  display: block;
  padding: 0.5rem;
  user-select: none;
  width: 10rem;
  outline: 0;
}

.link__image {
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  margin: * auto 0.5rem;
}

.link__name {
  display: block;
  text-align: center;
}
