{
  "plugins": [
    [
      "styled-components", {
        "ssr": true,
        "displayName": false,
        "preprocess": false
        }
      ], [
        "module-resolver", {
          "root": [ "./" ]
        }
      ]
    ]
}
