{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
  ],
  "plugins": [
    "prettier",
  ],
  "rules": {
    "strict": [
      2,
      "never"
    ],
    "global-require": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "new-cap": 0,
    "prettier/prettier": "error",
    "react/require-extension": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  }
}
