.c-icon-link {

  &:focus {
    outline: 0;
  }
}

.c-icon-link__inactive {
  display: block;

  .c-icon-link:active & {
    display: none;
  }
}

.c-icon-link__active {
  display: none;

  .c-icon-link:active & {
    display: block;
  }
}
