@import '../../styling/base.css';

:local {

  .radio {
    margin-bottom: .8rem;
  }

  .radio__label {
    user-select: none;
  }

  .radio__input {
    composes: reset;
    background-image: url('./radio_unselected.svg');
    margin-right: .7rem;
    size: 1.7rem 1.8rem;

    &:checked {
      background-image: url('./radio_selected.svg');
    }
  }
}
