@import 'settings/_colors';

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  border: 1px solid red;
  height: 100%;
  min-height: 100%;
}

body {
  color: var(--black);
  font-size: 1.6rem;
  line-height: 1.25;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  appearance: none;
  background-color: transparent;
  border-radius: 0;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  user-select: none;
}

input {
  outline: 0;
}
