@import '../../styling/base.css';

:local {

  .checkbox {
    margin-bottom: .8rem;
  }

  .checkbox__label {
    user-select: none;
  }

  .checkbox__input {
    composes: reset;
    background-image: url('./checkbox_unselected.svg');
    margin-right: .7rem;
    size: 2.6rem 2.2rem;

    &:checked {
      background-image: url('./checkbox_selected.svg');
    }
  }
}
