:local {
  .zoom {
    composes: icon from '../../styles/components/icon.css';
    background-image: url('./zoom_unselected.svg');
    size: 2.3rem 2.2rem;

    &:--focus-active {
      background-image: url('./zoom_selected.svg');
    }
  }
}

@custom-selector :--focus-active :focus, :active;
