.c-icon {
  display: inline-block;
}

.c-icon--active {
  display: none;
}

&:focus,
&:active {

  .c-icon--inactive {
    display: none;
  }

  .c-icon--active {
    display: block;
  }
}

.c-icon--resize {
	size: 16px;
}

.c-icon--left,
.c-icon--right {
	size: 14px 16px;
}

.c-icon--drive,
.c-icon--drive-active {
	size: 8.5rem 4.4rem;
}

.c-icon--drawer,
.c-icon--drawer-active {
	size: 6.5rem 3.8rem;
}

.c-icon--disk,
.c-icon--disk-active {
	size: 4.3rem 4.6rem;
}

.c-icon--trash,
.c-icon--trash-active { size: 7.1rem 7rem }

.c-icon--disk-drive { size: 15.6rem 3.8rem }

.c-icon--floppy-disk { size: 13.4rem 12rem }

.c-icon--close,
.c-icon--close-active {
  border-right: .1rem solid var(--black);
  size: 1.8rem;
}

.c-icon--scroll-top,
.c-icon--scroll-bottom { size: 1.6rem 1.8rem }

.c-icon--scroll-left,
.c-icon--scroll-right { size: 1.4rem 1.6rem }

.c-icon--clock { size: 3.2rem }

.c-icon--shell,
.c-icon--shell-active { size: 6rem 4.8rem }

.c-icon--depth { size: 2.1rem 1.8rem }
.c-icon--zoom { size: 2.1rem 1.8rem }
.c-icon--checked { size: 2.2rem 1.8rem }


:root {
  --black: #000;
}
