.c-icon {
  display: inline-block;
}

.c-icon--resize {
	size: 16px;
}

.c-icon--left,
.c-icon--right {
	size: 14px 16px;
}

.c-icon--drive,
.c-icon--drive-active {
	size: 85px 44px;
}

.c-icon--drawer,
.c-icon--drawer-active {
	size: 65px 38px;
}

.c-icon--disk,
.c-icon--disk-active {
	size: 43px 46px;
}

.c-icon--trash,
.c-icon--trash-active { size: 7.1rem 7rem }

.c-icon--disk-drive { size: 15.6rem 3.8rem }

.c-icon--floppy-disk { size: 13.4rem 12rem }

.c-icon--close,
.c-icon--close-active { size: 17px 18px }

.c-icon--scroll-top,
.c-icon--scroll-bottom { size: 1.6rem 1.8rem }

.c-icon--scroll-left,
.c-icon--scroll-right { size: 1.4rem 1.6rem }

.c-icon--clock { size: 3.2rem }

.c-icon--shell { size: 60px 48px }

.c-icon--depth { size: 2.1rem 1.8rem }
.c-icon--zoom { size: 2.1rem 1.8rem }
.c-icon--checked { size: 2.2rem 1.8rem }
