.c-button {
  appearance: none;
  background-color: var(--gray);
  border-image: url(./button.svg) 2 stretch;
  border-style: solid;
  border-width: .2rem;
  display: inline-block;
  font-family: inherit;
  font-size: 1.6rem;
  line-height: 1.25;
  outline: 0;
  padding: * 2rem;
  text-align: center;
  user-select: none;

  &:focus,
  &:active {
    border-image: url(./button_active.svg) 2 stretch;
  }

  &:active {
    background-color: var(--blue);
  }
}

:root {
  --blue: #6080b0;
  --black: #000;
  --gray: #aaa;
}
