.c-gadget {
  appearance: none;
  background-color: red;
  border: 0;
  display: inline-block;
  user-select: none;
  outline: 0;
}

.c-gadget--close {
  background-image: url('./close.svg');
  size: 2rem 2.2rem;

  &:--focus-active {
    background-image: url('./close-active.svg');
  }
}

.c-gadget--depth {
  background-image: url('./depth.svg');
  size: 2.3rem 2.2rem;

  &:--focus-active {
    background-image: url('./depth-active.svg');
  }
}

.c-gadget--zoom {
  background-image: url('./zoom.svg');
  size: 2.3rem 2.2rem;

  /*&:--focus-active {
    background-image: url('./zoom-active.svg');
  }*/
}

@custom-selector :--focus-active :focus, :active;
