:local {

  .text-group {
    background: red;
    margin-bottom: .5rem;

    label {
      background: lime;
      margin-right: .5rem;
      user-select: none;
    }
  }

  .text {
    /*composes: reset from '../../styling/base.css';*/
    border-image: url(./text.svg) 4 stretch;
    border-style: solid;
    border-width: .4rem;
    display: inline-block;
    height: 2.8rem;
    min-width: 0;
    padding: * .3rem;
    text-align: left;
    width: auto;
  }
}
