@import '../../styling/settings/_colors';

.c-titlebar {
  background-color: var(--white);
  border-top-color: var(--white);
  border-bottom-color: var(--black);
  border-style: solid;
  border-width: 2px 0;
  height: var(--titlebar-height);
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;

  h1, h2, h3 {
    font-size: 16px;
    line-height: 1.25;
    margin: 0;
    display: inline;
  }
}

.c-titlebar__inner {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:root {
  --titlebar-height: 22px;
}
