@import '../../styling/settings/_colors';

.c-titlebar {
  background-color: var(--white);
  border-top-color: var(--white);
  border-bottom-color: var(--black);
  border-style: solid;
  border-width: 2px 0;
  height: var(--titlebar-height);
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;

  h2, h3 {
    float: left;
  }

  a {
    float: left;
  }
}

:root {
  --titlebar-height: 22px;
}
