@import '../../styling/base';

:local {

  .guru-meditation {
    background-color: var(--black);
    size: 100%;
    overflow: hidden;
    position: relative;
  }

  .guru-meditation__main {}

  .toasty {
    background-image: url(./toasty.png);
    position: absolute * -var(--toasty-width) 0 *;
    size: var(--toasty-width);
  }

  .konami {
    animation: showToastyGuy 1s;
  }
}

@keyframes showToastyGuy {
  0% {
    right: -var(--toasty-width)
  }

  40% {
    right: 0
  }

  60% {
    right: 0
  }

  100% {
    right: -var(--toasty-width)
  }
}

:root {
  --toasty-width: 200px;
}
