@import '../../styles/settings/_colors';

:local {

  .guru-meditation {
    align-items: center;
    background-color: var(--black);
    display: flex;
    height: 100%;
    justify-content: center;
  }
}
