@import '../../styles/settings/';

:local {
  .directory {
    list-style: none;
    margin: 1rem;
  }

  .directory--row {
    composes: directory;
    display: flex;
    flex-wrap: wrap;
  }

  .directory__item {
    max-width: 10rem;
  }
}
