@import '../../styles/settings/';

@media (--breakpoint-md) {
  :local {
    .drawer {
      position: absolute 50% * * 50%;
      size: 60rem 40rem;
      transform: translate(calc(-50% - 5rem), calc(-50% - 5rem));
    }
  }
}
