@import '../../styling/settings/_media_queries';
@import '../../styling/settings/_colors';

.c-kickstart {
  background-color: var(--purple);
  color: var(--tumbleweed);
  height: 100vh;
  min-height: 400px;
  position: relative;
  overflow: hidden;
}

.c-copyright {
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 2rem auto;
  size: 20rem *;
}

.c-tick {
  background: url('./tick.png') no-repeat;
  background-size: cover;
  size: 16.5rem 15rem;
  margin: * auto 2rem;
}

.c-group {
  display: block;
  margin: * auto;
  position: relative;
  size: 15.6rem 16.9rem;
}


.c-floppy-disk {
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: insert-disk;
  background: url(./floppy_disk.svg) no-repeat;
  background-size: cover;
  position: absolute * * 0 1.2rem;
  size: 13.4rem 12rem;
}

.c-disk-drive {
  background: url(./disk_drive.svg) no-repeat;
  background-size: cover;
  position: absolute 0 * * 0;
  size: 15.6rem 3.8rem;
}

@media (--breakpoint-md) {

  .c-copyright {
    position: absolute * * 5rem 5rem;
    margin: 0;
  }

  .c-tick {
    margin-left: 0;
  }

  .c-group {
    position: absolute * 5rem 5rem *;
    margin: 0;
  }
}

@keyframes insert-disk {
  0% {
    transform-origin: 0% 0%;
  }

  20% {
    transform: translateY(2rem);
    transform-origin: 0% 0%;
  }

  100% {
    transform: rotateX(83deg) translateY(-35rem);
    transform-origin: 0% 0%;
  }
}

:root {
  --purple: #401040;
  --tumbleweed: #e0a080;
}
