@import '../../styling/settings/_media_queries';
@import '../../styling/settings/_colors';

.c-kickstart {
  background-color: var(--purple);
  color: var(--tumbleweed);
  height: 100vh;
  min-height: 400px;
  position: relative;
  overflow: hidden;
}

.c-copyright {
  margin: 2rem auto;
  size: 17rem *;

  img {
    margin: * auto 3rem;
  }
}

.c-group {
  display: block;
  margin: * auto;
  position: relative;
  size: 15.6rem 16.9rem;
}


.c-floppy-disk {
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: insert-disk;
  position: absolute * * 0 1rem;
  size: 13.2rem 12rem;
}

.c-disk-drive {
  position: absolute 0 * * 0;
  size: 15.6rem 3.8rem;
}

@media (--breakpoint-md) {

  .c-copyright {
    position: absolute * * 5rem 5rem;
    margin: 0;
  }

  .c-group {
    position: absolute * 5rem 5rem *;
    margin: 0;
  }
}

@keyframes insert-disk {
  0% {
    transform-origin: 0% 0%;
  }

  20% {
    transform: translateY(2rem);
    transform-origin: 0% 0%;
  }

  100% {
    transform: rotateX(83deg) translateY(-36rem);
    transform-origin: 0% 0%;
  }
}

:root {
  --black: #000;
  --blue: #6687ba;
  --gray: #aaa;
  --purple: #401040;
  --red: #ed1c24;
  --tumbleweed: #e0a080;
  --white: #fff;
}
