:global {
  .u-black { color: var(--black); }
  .u-white { color: var(--white); }
  .u-gray { color: var(--gray); }
  .u-blue { color: var(--blue); }

  .u-bg-black { background-color: var(--black); }
  .u-bg-white { background-color: var(--white); }
  .u-bg-gray { background-color: var(--gray); }
  .u-bg-blue { background-color: var(--blue); }
}
