.drawer {
  composes: link from '../../styles/components/_link.css';
}

.drawer__image {
  composes: linkImage from '../../styles/components/_link.css';
  background-image: url('./drawer_unselected.svg');
  size: 6.5rem 3.8rem;
}

.drawer--active .drawer__image,
.drawer:focus .drawer__image,
.drawer:active .drawer__image {
  background-image: url('./drawer_selected.svg');
}

.drawer__name {
  composes: linkName from '../../styles/components/_link.css';
}
