@import '../../styles/settings/';

@media (--breakpoint-md) {
  :local {
    .drawer {
      position: absolute 50% * * 50%;
      size: 60rem 40rem;
      transform: translate(-50%, -50%);
    }
  }
}
