.drawer {
  display: flex;
  flex-direction: column;
  position: absolute 2.2rem 0 0;
}

@media (--breakpoint-md) {

  .drawer {
    position: absolute 50% * * 50%;
    size: 40rem;
    transform: translate(-50%, -50%);
  }
}

@custom-media --breakpoint-md (min-width: 768px);
