/*@import '../../styling/settings/_media_queries';*/

.drawer {
  position: absolute 2.2rem 0 0;
}

/*@media (--breakpoint-lg) {

  .drawer {
    xtop: 50%;
    xleft: 50%;
    xsize: 50rem;
    xmargin: -25rem * * -25rem;
  }
}*/
