:local {

  .directory {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .directory__item {
    background: lime;
    text-align: center;
    margin-bottom: 1rem;
    max-width: 10rem;
  }

  .directory__link {
    color: inherit;
    display: block;
    outline: 0;
    user-select: none;
  }

  .directory__icon {
    background-size: 100%;
    display: block;
    margin: * auto .3rem;
  }

  .shell {
    background-image: url('./shell_unselected.svg');
    size: 6rem 4.8rem;
  }

  .drive {
    background-image: url('./drive_unselected.svg');
    size: 8.5rem 4.4rem;
  }

  .directory__link:active {

    .drive {
      background-image: url('./drive_selected.svg');
    }
  }

  .directory__name {
    display: block;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;

    .directory__item {
      margin-right: 1rem;
    }
  }
}

@custom-selector :--focus-active :focus, :active;
