@import '../../styles/settings/';

:local {
  .dl {
    margin-bottom: 2rem;
  }

  .dt {
    color: var(--white);
  }
}

@media (--breakpoint-sm) {
  :local {
    .dl {
      display: flex;
      align-items: center;
    }

    .dt {
      width: 25%;
      padding-right: 1rem;
    }

    .dd {
      flex: auto;
    }
  }
}

@media (--breakpoint-md) {
  :local {
    .work {
      position: absolute 10rem * * 10rem;
      size: 60rem 40rem;
      min-height: 100%;
    }
  }
}
