@import '../../styles/settings/_colors.css';

:local {

  .window {
    border-image: url(./window-2.svg) 29 55 71 21 stretch;
    border-style: solid;
    border-width: 2.9rem 5.5rem 7.1rem 2.1rem;
    position: absolute var(--window-header-height) 0 0;
  }

  .window--selected {
    composes: window;
    background-color: var(--blue);
  }

  .window--unselected {
    composes: window;
    background-color: var(--gray);
  }

  .window__header {
    display: flex;
    height: var(--window-header-height);
    position: absolute -2.9rem -5.5rem * -2.1rem;

    a,
    button {
      flex: none;
    }

    div {
      flex: auto;
    }

    button {
      margin-left: auto;
    }
  }

  .window__main {
    background-color: var(--gray);
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute -.7rem -3.7rem -5.1rem -1.7rem;

    &::-webkit-scrollbar {
      display: none;
    }
  }


}

:root {
  --window-header-height: 2.2rem;
}
