@import '../../styles/settings/_colors.css';

:local {

  .window {
    border-image: url(./window-1.svg) 22 4 4 stretch;
    border-style: solid;
    border-width: 2.2rem .4rem .4rem;
    position: relative;
  }

  .window--selected {
    composes: window;
    background-color: var(--blue);
  }

  .window--unselected {
    composes: window;
    background-color: var(--gray);
  }

  .window__main {
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .flex {
    display: flex;
    height: 2.2rem;
    position: absolute -2.2rem -.4rem -.4rem;

    a,
    button {
      flex: none;
    }

    div {
      flex: auto;
    }

    button {
      margin-left: auto;
    }
  }
}
