@import '../../styles/settings/_colors';

@font-face {
  font-family: 'Topaz';
  src: url('./topaz.eot');
  src: url('./topaz.eot?#iefix') format('embedded-opentype'),
       url('./topaz.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-size: 10px;

  /*@media (--breakpoint-md) {
    font-size: 10px;
  }*/
}

*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body,
button,
input,
a {
  cursor: url(./cursor.svg), default
}

html,
body {
  height: 100%;
  min-height: 100%;

  > div {
     height: 100%;
  }
}

body {
  background-color: var(--gray);
  color: var(--black);
  font-family: var(--topaz);
  font-size: 1.6rem;
  line-height: 1.25;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  appearance: none;
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  user-select: none;
}

input {
  outline: 0;
}

:local {

  .app {
    height: 100%;
  }
}

:root {
  --topaz: 'Topaz', sans-serif;
}

@custom-media --breakpoint-md (min-width: 481px);
