@import '../../styles/settings/_colors.css';

.alert {
  animation: pulse 1.5s infinite ease-in-out;
  border-style: solid;
  border-width: 0.6rem;
  line-height: 1.875;
  margin: 1rem;
  max-width: 64rem;
  padding: 1rem;
  text-align: center;
  user-select: none;
}

.alert--info {
  composes: alert;
  border-color: var(--blue);
  color: var(--blue);
}

.alert--error {
  composes: alert;
  border-color: var(--red);
  color: var(--red);
}

.alert__link {
  display: block;
  position: absolute 0;
  text-indent: -999999px;
  z-index: 1;
  outline: 0;
}

@keyframes pulse {
  0% {
    border-color: currentColor;
  }

  100% {
    border-color: transparent;
  }
}

:root {
  --red: #ed1c24;
}
