@import '../../styling/base';

:local {

  .alert {
    animation: pulse 1.5s infinite ease-in-out;
    border-style: solid;
    border-width: .6rem;
    line-height: 1.875;
    max-width: 64rem;
    padding: 1rem;
    position: absolute 50% * * 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }

  .alert__link {
    color: inherit;
    display: block;
    position: absolute 0;
    z-index: 1;
    text-indent: -999999px;
  }
}

@keyframes pulse {
  0% {
    border-color: currentColor;
  }

  100% {
    border-color: transparent;
  }
}
