@import '../../styles/settings';

:global {
  .u-bg-purple {
    background-color: var(--purple);
  }
}

:local {
  .kickstart {
    background-color: var(--purple);
    color: var(--tumbleweed);
    position: relative;
    height: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: min-content;

    span[style] { display: none; }

    a {
      display: block;
      outline: 0;
      user-select: none;
    }
  }

  .copyright {
    line-height: 1.5;
    margin: 2rem * 1rem;
    size: 18rem *;
    flex: none;
  }

  .tick {
    background: url('./tick.png') no-repeat;
    background-size: 100%;
    size: 16.5rem 15rem;
    margin: * auto var(--space-3);
  }

  .group {
    display: block;
    position: relative;
    flex: none;
    size: 15.6rem 16.9rem;
    margin: 1rem * var(--space-3);
  }

  .disk-drive {
    background: url('./disk_drive.svg') no-repeat;
    background-size: 100%;
    position: absolute 0 * * 0;
    size: 15.6rem 3.8rem;
  }

  .floppy-disk {
    animation: insert-disk 1.5s forwards infinite;
    background: url('./floppy_disk.svg') no-repeat;
    background-size: 100%;
    position: absolute * * 0 1.2rem;
    size: 13.4rem 12rem;
  }

  @media (--breakpoint-md) {
    .kickstart {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      span {
        display: none;
      }
    }

    .copyright {
      margin: * * 5rem 5rem;
      align-self: flex-end;
    }

    .tick {
      margin-left: 0;
    }

    .group {
      align-self: flex-end;
      margin: * 5rem 5rem *;
    }
  }
}

@keyframes insert-disk {
  0% {
    transform-origin: 0% 0%;
  }

  20% {
    transform: translateY(2rem);
    transform-origin: 0% 0%;
  }

  100% {
    transform: rotateX(83deg) translateY(-35rem);
    transform-origin: 0% 0%;
  }
}

:root {
  --purple: #401040;
  --tumbleweed: #e0a080;
}
